name: Run time script

# Trigger workflow manually
on:
  workflow_dispatch:
    inputs:
      test:
        description: "Marsha test to run"
        required: true
        default: "./examples/test/sort_modules.mrsh"
      attempts:
        description: "Number of attempts to run the test"
        required: true
        default: 1

jobs:
  run:
    id: run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Run time script
        run: |
          make attempts=${{github.event.inputs.attempts}} test=${{github.event.inputs.test}} stats=True time
          echo "results=$(results.md)" >> $GITHUB_OUTPUT
        env:
          OPENAI_SECRET_KEY: ${{ secrets.OPENAI_SECRET_KEY }}

  notify:
    name: Discord Notification
    runs-on: ubuntu-latest
    needs: # make sure the notification is sent AFTER the jobs you want included have completed
      - run
    if: ${{ always() }} # You always want to be notified: success, failure, or cancelled

    steps:
      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch
      - name: Notify
        uses: nobrayner/discord-webhook@v1
        with:
          github-token: ${{ secrets.github_token }}
          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
          title: '${{ github.workflow }}: {{STATUS}}'
          description: 'Test file: ${{ github.event.inputs.test }}\nBranch: ${{ steps.extract_branch.outputs.branch }}\n Results: \n${{ jobs.run.outputs.results }}'